body {
    background-color: antiquewhite;
    
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.header_container-main {
    background-color: white;
    width: 100%;
    height: 80px;
}

.header_container-sub_left {
    background-color: white;
    display: inline-block;
    height: 100%;
    width: 25%;
    float: left;
}

.header_container-sub_left h1 {
    text-align: center;
}

.header_container-sub_left-image {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.header_container-sub_left-image img {
    width: 50px;
    height: 50px;
}

.header_container-sub_middle {
    background-color: white;
    display: inline-block;
    height: 100%;
    width: 50%;
    float: left;
}

.header_container-sub_middle a {
    text-decoration: none;
    color: black;
}

.header_container-sub_middle a:hover {
    color: blue;
}

.header_container-sub_middle h1 {
    text-align: center;
}

.header_container-sub_right {
    background-color: white;
    display: inline-block;
    height: 100%;
    width: 25%;
    float: left;
}

.header_container-sub_right h1 {
    text-align: center;
}

.body_container-main {
    background-color: lightgray;
}

.body_container-main_left {
    background-color: lightgray;
    display: inline-block;
    height: 100%;
    width: 20%;
    float: left;
}

.body_container-main_left a {
    text-decoration: none;
    color: black;
}

.body_container-main_left a:hover {
    color: blue;
}

.body_container-main_left a:visted {
    color: black;
}

.body_container-main_left h1, h2 {
    text-align: center;
}

.body_container-main_middle {
    background-color: gray;
    display: inline-block;
    height: 100%;
    width: 60%;
    float: left;
}

.body_container-main_middle h1 {
    text-align: center;
}

#h1-quote {
    font-style: italic;
}

.body_container-main_middle_picture {
    margin: 0 auto;
    width: 80%;
    border: solid;
    border-color: white;
}

.body_container-main_middle_picture img {
    height: 500px;
    width: 100%;
}

.body_container-main_right {
    background-color: lightgray;
    display: inline-block;
    height: 100%;
    width: 20%;
    float: left;
}

.body_container-main_right h1, h2 {
    text-align: center;
}






